# Notion
NOTION_TOKEN=secret_xxx
NOTION_DB_ID=111aaa,222bbb,333ccc

# Local Postgres (container)
PGUSER=postgres
PGPASSWORD=supersecret
PGHOST=postgres_dwh
PGPORT=5432
PGDATABASE=analytics

# Dagster metadata DB (same instance)
DAGSTER_DB=dagster_meta
